{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "jquery": true,
    "Masonry": true
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "jquery": true
  },
  "globals": {
    "InfiniteScroll": "readonly",
    "imagesLoaded": "readonly",
    "Masonry": "readonly"
  },
  "plugins": [
    "react"
  ],
  "extends": [
    //        "plugin:@wordpress/eslint-plugin/recommended"
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "jsx-a11y/img-redundant-alt": 0,
    "indent": [
      "error",
      4
    ],
    "quotes": [
      "error",
      "single"
    ],
    "prettier/prettier": 0
  }
}