$laptop: 1366px;
$small-laptop: 1024px;
$tablet: 850px;
$narrow: 728px;
$mobile: 640px;

$mobile-breakpoint: $small-laptop; // Breakpoint at which the mobile menu is displayed. Can be changed to any other value.

$enable-wp-core-styles: true;

$font-path: #{'../fonts'};

